<div id ="jsColorSelect" class = "params">
  Select a Color
  <div id = "jsCurrentColor" 
  style="width:10px;height:10px;border-style:solid;border-width:2px"></div>
  <form action=''>
    <ul>
      {{#each params.rgba}}
        <li>
          <span>{{this.[0]}}</span>
          <input type = "text" name="{{@index}}" value={{this.[1]}}>
        </li>
      {{/each}}
    </ul>
  </form>
</div>