<div id ="jsColorSelect" class = "params">
  color here
  <form action=''>
    <ul>
      {{#each params.rgba}}
        <li>
          <span>{{this.[0]}}</span>
          <input type = "text" name="{{@index}}" value={{this.[1]}}>
        </li>
      {{/each}}
    </ul>
  </form>
  <div id = "jsCurrentColor"></div>
</div>