<div id ="jsSlideIndex" class = "params">
  Radio to edit, Check to animate
  <form action=''>
    <ul>
      {{#each slides}}
        {{> pads/_slideLi number = @index }}
      {{/each}}
    </ul>    
  <form>
</div>