<div id ="jsSlideIndex" class = "params">
  gallery here
  <form action=''>
    <ul>
      {{#each slides}}
        <li>
          {{@index}} 
          <input type= "radio" name ="currentSlide" value = {{@index}}>
          <input type = "checkbox" value = {{@index}}>
        </li>
      {{/each}}
    </ul>    
  <form>
</div>