<div id ="jsSlideShow">
  <button id= "jsSlideCopy" name = "copy slide">copy slide</button>
  <button id= "jsSlideCreate" name = "new slide">new slide</button> 
  <button id= "jsProjectSave" name = "save project">save project</button> 
  <br>
  <canvas></canvas>
</div>