<div id="jsZoomSelect" class = "params">
  Select level of detail
  <form action=''>
    <ul>
      {{#each params.scales}}
        <li>
          {{this}} 
          <input type= "radio" name ="size" value = {{this}}>
        </li>
      {{/each}}
    </ul>
  </form>
</div>