// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.params {
  display: inline-block;
}

#introHeader {
  text-align: center;
}
/* */
div#jsSlideIndex{
/*  position: absolute;
  right: 5px; */
  float: right;
  margin: 5px;
}

#jsSlideIndex ul {
  width: 18em;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
}

#jsSlideIndex li {
  display: inline-block;
}

div#jsZoomSelect {
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  float: left;
}

div#jsColorSelect {
  border-style: solid;
  border-width: 1px;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  float: left;
}

#jsSlideShow {
*  padding-left: 10em;
}

#jsSlideIndex input[type=checkbox]{
  background-color: rgb(0,210, 0);  
}

#jsSlideIndex input[type=radio]{
  color: rgb(210,210, 0);
}

#jsAnimation{
  float: right;
  display: inline-block;
}

#jsSlideShow{
  float: right;
  display: inline-block;  
}

#jsSlideShow canvas{
  border-style: solid;
  border-width: 1px;
};

.projectsIndex form {
*  border-style: solid;
*  border-width: 1px;
  padding: 4px;  
};