// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.params {
  display: inline-block;
}

#introHeader {
  text-align: center;
}
canvas {
  padding: 1em;
}

#jsSlideIndex ul {
  width: 18em;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
}

#jsSlideIndex li {
  display: inline-block;
}

#jsZoomSelect {
  border-style: solid;
  border-width: 1px;
  padding: 2px
}

#jsColorSelect {
  border-style: solid;
  border-width: 1px;
  padding: 2px
}

#jsSlideShow {
  padding: 5px
}
