<form action=''>
  Default Width
  <input type = "text" name="defaultWidth" value="31">
  <br>
  Default Height
  <input type = "text" name="defaultHeight" value="50">
  <br>
  Project Title
  <input type = "text" name="title" value="Default Title">
  <br>
  <input type ="submit" value = "New Project" id= "jsProjectCreate">
</form>